# 
venv/

.flaskenv
config.py
__pycache__
db_credentials.txt
/.idea/.gitignore
/.idea/Clueless.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/sqldialects.xml
/.idea/dataSources.xml
